body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}
.container div {
  flex: 1;
  height: 100vh;
  transition: flex 0.5s ease-out;
  color: white;
  font-family: sans-serif;
  text-align: center;
}
.container div h1 {
  padding-top: 40vh;
  transition: color 0.5s ease-out;
}
.container div:hover {
  flex: 1.5;
}
.container .left {
  background: #ff4c5b;
}
.container .left:hover h1 {
  color: #47bbff;
}
.container .right {
  background: #47bbff;
}
.container .right:hover h1 {
  color: #ff4c5b;
}
