---
layout: page
title: Rotaract District 3190 | Directory
permalink: /directory/
---



<div class="container">
  <div class="row">
      <table id="example" class="table table-responsive table-full-width">
          <thead>
              <tr>
                  <th>Name</th>
                  <th>Blood Group</th>
                  <th>Donar Location</th>
                  <th>Phone</th>
              </tr>
          </thead>
          <tbody>
              {% for user in site.data.donor %}
              <tr>
                <td>{{user.name}}</td>
                <td>{{user.blood_group}}</a></td>
                <td>{{user.location}}</td>
                <td>{{user.phone}}</td>
              </tr>
              {% endfor %}

          </tbody>
          <tfoot>
              <tr>
                  <th>Name</th>
                  <th>Blood Group</th>
                  <th>Donar Location</th>
                  <th>Phone</th>
              </tr>
          </tfoot>
      </table>
<!--     
    <h3>Employee Directory</h3>
    <p>This employee directory is built from a single .csv file that is easy for clients to maintain with minimal Excel skills, and simple for a developer to update.</p>
    <hr>
    <table id="donor-table" class="table table-striped table-bordered" style="width:100%">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Gender</th>
          <th>Department</th>
        </tr>
      </thead>
      <tbody>
        {% for user in site.data.directory %}
        <tr>
          <td>{{user.first_name}}</td>
          <td>{{user.last_name}}</td>
          <td><a href="MailTo:{{ user.email }}">{{ user.email }}</a></td>
          <td>{{user.gender}}</td>
          <td>{{user.department | strip_html | truncatewords: 50 }}</td>
        </tr>
        {% endfor %}
    </table> -->
  </div>
</div>