---
layout: page
title: Documents
permalink: /documents/
---
<!-- <section>
  <div class="container">
    
    
    <div class="row mbr-justify-content-center">
      
      <div class="col-lg-6 mbr-col-md-10">
        <div class="wrap">
          <div class="ico-wrap">
            <span class="mbr-iconfont fa-volume-up fa"></span>
          </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Stay <span>Successful</span></h2>
            <p class="mbr-fonts-style text1 mbr-text display-6">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mbr-col-md-10">
        <div class="wrap">
          <div class="ico-wrap">
            <span class="mbr-iconfont fa-calendar fa"></span>
          </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Create
              <span>An Effective Team</span>
            </h2>
            <p class="mbr-fonts-style text1 mbr-text display-6">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mbr-col-md-10">
        <div class="wrap">
          <div class="ico-wrap">
            <span class="mbr-iconfont fa-globe fa"></span>
          </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Launch
              <span>A Unique Project</span>
            </h2>
            <p class="mbr-fonts-style text1 mbr-text display-6">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mbr-col-md-10">
        <div class="wrap">
          <div class="ico-wrap">
            <span class="mbr-iconfont fa-trophy fa"></span>
          </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Achieve <span>Your Targets</span></h2>
            <p class="mbr-fonts-style text1 mbr-text display-6">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
          </div>
        </div>
      </div>
      
      
      
      
    </div>
    
  </div>
  
</section> -->

<section>
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Resources</h2>
        <p>One place for all the resources you need</p>
        <p>Want to join?</p>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-12">
          
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation"><a href="#all" aria-controls="all" role="tab" data-toggle="tab"><button class="btn btn-default">All</button></a></li>
            <li role="presentation"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><button class="btn btn-default">Exhibitor</button></a></li>
            <li role="presentation"><a href="#general" aria-controls="general" role="tab" data-toggle="tab"><button class="btn btn-default">General</button></a></li>
            <li role="presentation"><a href="#forms" aria-controls="forms" role="tab" data-toggle="tab"><button class="btn btn-default">Forms</button></a></li>
            <li role="presentation"><a href="#encore" aria-controls="encore" role="tab" data-toggle="tab"><button class="btn btn-default">Encore</button></a></li>
          </ul>
          
        </div>
      </div>
      
      <!-- <div class="row"> -->
        <div class="col-md-12">
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="all">
              
              <table class="table table-responsive table-full-width">
                <thead>
                  <tr>
                    <th>Title ( All )</th>
                    <th>File</th>
                  </tr>
                </thead>
                <tbody>
                  {% for doc in site.static_files %}
                  {% if doc.path contains 'docs/' %}
                  <tr>
                    <td><i class="icon ion-md-document"></i> {{doc.name}}</td>
                    <td><a href="{{ site.baseurl }}{{ doc.path }}" target="_blank"><button class="btn btn-default"><i class="icon ion-ios-eye"></i> View</button></a> | <a href="{{ site.baseurl }}{{ doc.path }}" download="{{doc.name}}"><button class="btn btn-default">Downlaod <i class="icon ion-md-download"></i></button></a></td>
                  </tr>
                  {% endif %}
                  {% endfor %}             
                </tbody>
                <tfoot>
                  <tr>
                    <th>Title ( All )</th>
                    <th>File</th>
                  </tr>
                </tfoot>
              </table>
              
            </div>
            <div role="tabpanel" class="tab-pane" id="home">
              
              <table class="table table-responsive table-full-width">
                <thead>
                  <tr>
                    <th>Title</th>
                    <th>File</th>
                  </tr>
                </thead>
                <tbody>
                  {% for doc in site.static_files %}
                  {% if doc.path contains 'docs/exhibitor' %}
                  <tr>
                    <td>{{doc.name}}</td>
                    <td><a href="{{ site.baseurl }}{{ doc.path }}" target="_blank">View</a> | <a href="{{ site.baseurl }}{{ doc.path }}" download="{{doc.name}}">Downlaod</a></td>
                  </tr>
                  {% endif %}
                  {% endfor %}             
                </tbody>
                <tfoot>
                  <tr>
                    <th>Title</th>
                    <th>File</th>
                  </tr>
                </tfoot>
              </table>
              
            </div>
            <div role="tabpanel" class="tab-pane" id="general">
              
              <table class="table table-responsive table-full-width">
                <thead>
                  <tr>
                    <th>Title</th>
                    <th>File</th>
                  </tr>
                </thead>
                <tbody>
                  {% for doc in site.static_files %}
                  {% if doc.path contains 'docs/general' %}
                  <tr>
                    <td>{{doc.name}}</td>
                    <td><a href="{{ site.baseurl }}{{ doc.path }}" target="_blank">View</a> | <a href="{{ site.baseurl }}{{ doc.path }}" download="{{doc.name}}">Downlaod</a></td>
                  </tr>
                  {% endif %}
                  {% endfor %}             
                </tbody>
                <tfoot>
                  <tr>
                    <th>Title</th>
                    <th>File</th>
                  </tr>
                </tfoot>
              </table>
              
            </div>
            <div role="tabpanel" class="tab-pane" id="forms">
              <ul>
                {% for doc in site.static_files %}
                {% assign lowercase_name = doc.basename | downcase %}
                {% if doc.path contains 'docs/' and lowercase_name contains 'form' %}
                <li class="">
                  <a href="{{ site.baseurl }}{{ doc.path }}">{{doc.name}}</a>
                </li>
                {% endif %}
                {% endfor %}
              </ul>
            </div>
            <div role="tabpanel" class="tab-pane" id="encore">
              <ul>
                {% for doc in site.static_files %}
                {% assign lowercase_name = doc.basename | downcase %}
                {% if doc.path contains 'docs/' and lowercase_name contains 'encore' %}
                <li class="">
                  <a href="{{ site.baseurl }}{{ doc.path }}">{{doc.name}}</a>
                </li>
                {% endif %}
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        <!-- </div> -->
      </div>
    </section>
    