---
layout: page
title: Resources
permalink: /resources/
---
<!-- Slider Start -->
<section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>Resources - Rotaract 3190</h1>
          <p>All at one place</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="intro">
<div class="container">
  <div class="row">
    <div class="wrapper center-block">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">  
        {% for resource in site.data.resources %}
        {% assign index = forloop.index %}
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading{{ index }}">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" href="#collapse{{ index }}" aria-expanded="true"
                aria-controls="collapse{{ index }}">
                {{ resource.group_name }}
              </a>
            </h4>
          </div>
          <div id="collapse{{ index }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ index }}">
            <div class="panel-body">
              {% for item in resource.items_list %}
              <div class="member-entry">
                <a href="{{ item.file }}" target="_blank" class="member-img">
                  <img src="{{ site.baseurl }}{{ item.preview }}" class="img-rounded" alt="{{ item.title }}">
                  <i class="fa fa-forward"></i>
                </a>
                <div class="member-details">
                  <h4><a href="{{ item.file }}" target="_blank">{{ item.title }}</a></h4>
                  <div class="row info-list">
                    <div class="col-sm-4">
                      <i class="fa fa-info"></i>
                      {{ item.description }}
                    </div>
                    <div class="col-sm-4">
                      <i class="fa fa-eye"></i>
                      <a href="{{ site.baseurl }}{{ item.file }}" target="_blank">View</a>
                    </div>
                    <div class="col-sm-4">
                      <i class="fa fa-download"></i>
                      <a href="{{ site.baseurl }}{{ item.file }}"
                        download="{{ item.title }}">Download</a>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %} 
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
</section>