---
layout: page
title: Team
permalink: /team/
---

<!-- Slider Start -->
<section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>Team Panthers</h1>
          <p>Meeth the Executive Council and District Committee members of RID 3190 for RIY 2019 - 2020.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="main-container">
  <div class="container">
    <div class="row">
      <div class="col-md-12 heading">
        <h2 class="title classic">Executive Council 2019 - 2020</h2>
      </div>
    </div>

    <div class="row text-center">

      {% for member in site.data.ec1920 %}
      <div class="col-md-4 col-sm-6">
        <div class="team wow">
          <div class="img-hexagon">
            <img src="{{site.baseurl}}{{member.image}}" alt="{{member.name}}">
            <span class="img-top"></span>
            <span class="img-bottom"></span>
          </div>
          <div class="team-content">
            <h3>{{member.name}}</h3>
            <p>{{member.role}}<br><i class="fa fa-home"></i> {{member.club}}</p>
            <div class="team-social">
              {% if member.social.facebook %}<a class="fb" href="{{member.social.facebook}}" target="_blank" rel="noreferrer noopener"><i class="fa fa-facebook"></i></a>{% endif %}
              {% if member.social.instagram %}<a class="insta" href="{{member.social.instagram}}" target="_blank" rel="noreferrer noopener"><i class="fa fa-instagram"></i></a>{% endif %}
              {% if member.social.twitter %}<a class="twt" href="{{member.social.twitter}}" target="_blank" rel="noreferrer noopener"><i class="fa fa-twitter"></i></a>{% endif %}
              {% if member.social.mail %}<a class="mail" href="mailto:{{member.social.mail}}" target="_blank" rel="noreferrer noopener"><i class="fa fa-envelope"></i></a>{% endif %}
              {% if member.social.phone %}<a class="phone" href="tel:{{member.social.phone}}" target="_blank" rel="noreferrer noopener"><i class="fa fa-phone"></i></a>{% endif %}
            </div>
          </div>
        </div>
      </div>
      <!--/ Team Member end -->
      {% endfor %}

    </div>
    <!--/ Content row end -->


  </div>
  <!--/ container end -->
</section>
<!--/ Main container end -->

<!-- Portfolio Start -->
<section id="portfolio-work">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <div class="portfolio-menu">
            <ul>
                <li class="filter" data-filter="all">All</li>
              <li class="filter" data-filter=".treasury">TeamTreasury</li>
              <li class="filter" data-filter=".club">TeamClub</li>
              <li class="filter" data-filter=".community">TeamCommunity</li>
              <li class="filter" data-filter=".international">TeamInternational</li>
              <li class="filter" data-filter=".professional">TeamProfessional</li>
              <li class="filter" data-filter=".pred">TeamPrEditorial</li>
            </ul>
          </div>
          <div class="portfolio-contant">
            <ul id="portfolio-contant-active">
              {% for member in site.data.dc1920 %}
              <li class="mix {{member.class}}">
                <a href="{{member.social}}" target="_blank" rel="noreferrer noopener">
                  <img src="{{ site.baseurl }}{{member.image}}" alt="{{member.name}}">
                  <div class="overly">
                    <div class="position-center">
                      <h2>{{member.name}}</h2>
                      <p><i class="fa fa-home"></i> {{member.club}}</p>
                    </div>
                  </div>
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Clients Logo Section Start -->
<!-- <section id="clients-logo-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <div id="clients-logo" class="owl-carousel">
            <div class="clients-logo-img">
              <img src="{{ site.baseurl }}/img/clients/clients-logo1.png" alt="Features">
            </div>
            <div class="clients-logo-img">
              <img src="{{ site.baseurl }}/img/clients/clients-logo2.png" alt="Features">
            </div>
            <div class="clients-logo-img">
              <img src="{{ site.baseurl }}/img/clients/clients-logo3.png" alt="Features">
            </div>
            <div class="clients-logo-img">
              <img src="{{ site.baseurl }}/img/clients/clients-logo4.png" alt="Features">
            </div>
            <div class="clients-logo-img">
              <img src="{{ site.baseurl }}/img/clients/clients-logo5.png" alt="Features">
            </div>
            <div class="clients-logo-img">
              <img src="{{ site.baseurl }}/img/clients/clients-logo3.png" alt="Features">
            </div>
            <div class="clients-logo-img">
              <img src="{{ site.baseurl }}/img/clients/clients-logo2.png" alt="Features">
            </div>
            <div class="clients-logo-img">
              <img src="{{ site.baseurl }}/img/clients/clients-logo5.png" alt="Features">
            </div>
            <div class="clients-logo-img">
              <img src="{{ site.baseurl }}/img/clients/clients-logo1.png" alt="Features">
            </div>
            <div class="clients-logo-img">
              <img src="{{ site.baseurl }}/img/clients/clients-logo4.png" alt="Features">
            </div>
            <div class="clients-logo-img">
              <img src="{{ site.baseurl }}/img/clients/clients-logo5.png" alt="Features">
            </div>
            <div class="clients-logo-img">
              <img src="{{ site.baseurl }}/img/clients/clients-logo3.png" alt="Features">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

{% include newsletter.html %}
