<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="{{ site.baseurl }}/">Home</a></li>
            <li><a href="{{ site.baseurl }}/team">TeamPanthers</a></li>
            <li><a href="{{ site.baseurl }}/donors">Blood Donors</a></li>
            <li><a href="{{ site.baseurl }}/clublocator" target="_blank">Club Locator</a></li>
            <li><a href="{{ site.baseurl }}/news">News</a></li>
          </ul>
        </div>
        <p>Copyright &copy; Developed by <a href="https://zeospec.com/" target="_blank" rel="noopenner noreferrer">ZeoSpec</a>. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
