<!-- Call to action Start -->
<section id="call-to-action">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="block">
            <h2>Newsletter.</h2>
            <p>Sign-up to hear from Us.</p>
            <a class="btn btn-default btn-call-to-action"
              href="https://rotaract3190.us19.list-manage.com/subscribe?u=ec2994fa04b0856e3913be84e&id=7eb0482b27"
              target="_blank">Subscribe</a>
          </div>
        </div>
      </div>
    </div>
  </section>